.topnav {
  overflow: hidden;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}

.topnav .folder {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #f78411 0%, #f78411 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.3s ease; /* Thêm hiệu ứng transition cho background-position */
}

.topnav .folder:hover {
  background-position: left center; /* Di chuyển gradient từ trái sang phải khi hover */
}


.topnav .folder.active {
  background-color: #f78411;
  color: white;
}
@media (max-width: 1200px) {
  .topnav .folder {
    font-size: 10px;
    padding: 10px 15px;
  }
}
  // Media query cho thiết bị có độ rộng nhỏ hơn hoặc bằng 480px (mobile)
  @media (max-width: 480px) {

  }