.topnav {
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.topnav .folder {
  text-decoration: none;
  padding: 15px 15px;
    color: rgba(0, 0, 0, .87);
    display: block;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #fff;
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden; /* Thêm hiệu ứng transition cho background-position */
}

.topnav .folder:hover {
  border-color: #ee4d2d;
  color: #ee4d2d;
    transition: border-color .2s cubic-bezier(.4,0,.6,1); 
}


.topnav .folder.active {
  border-color: #ee4d2d; /* Thiết lập border-color mặc định cho trạng thái active */
  color: #ee4d2d;
  transition: border-color 0.2s cubic-bezier(.4,0,.6,1);
}

.shop-page-menu .navbar-with-more-menu__items {
  width: 100%;
  flex: initial;

}
.navbar-with-more-menu__items {
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 1200px) {
  .topnav .folder {
    font-size: 10px;
    padding: 10px 15px;
  }
}
  // Media query cho thiết bị có độ rộng nhỏ hơn hoặc bằng 480px (mobile)
  @media (max-width: 480px) {

  }