.allBackground {
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: block;
    .pt-full {
        padding-top: 100%;
    }
    .shopee_ic img {
        display: block;
        vertical-align: middle;
    }
    .shopee_ic .object-contain {
        object-fit: contain;
    }
    .shopee_ic .w-full {
        width: 100%;
    }
    .shopee_ic .h-full {
        height: 100%;
    }
    .shopee_ic .inset-y-0 {
        bottom: 0;
        top: 0;
    }
    .shopee_ic .absolute {
        position: absolute;
    }
    .shopee_ic .pointer-events-none {
        pointer-events: none;
    }
    .shopee_ic .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }
    .shopee_ic .flex-col {
        flex-direction: column;
    }
    .shopee_ic .cursor-pointer {
        cursor: pointer;
    }
    .shopee_ic .h-full {
        height: 100%;
    }
    .shopee_ic .flex {
        display: flex;
    }
    .shopee_ic .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }
    .shopee_ic .flex-col {
        flex-direction: column;
    }
    .shopee_ic .cursor-pointer {
        cursor: pointer;
    }
    .shopee_ic .h-full {
        height: 100%;
    }
    .shopee_ic .flex {
        display: flex;
    }
    .shopee_ic .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }
    .shopee_ic .flex-col {
        flex-direction: column;
    }
    .shopee_ic .cursor-pointer {
        cursor: pointer;
    }
    .shopee_ic .h-full {
        height: 100%;
    }
    .shopee_ic .flex {
        display: flex;
    }
    .shopee_ic .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }
    .shopee_ic .flex-col {
        flex-direction: column;
    }
    .shopee_ic .cursor-pointer {
        cursor: pointer;
    }
    .shopee_ic .h-full {
        height: 100%;
    }
    .shopee_ic .flex {
        display: flex;
    }
    .recoment {
        display: flex;
    }

    h5 {
        margin-top: 20px;
        padding: 10px 25px;
    }

    .product {
        flex-basis: 16.666%;
        max-width: 16.666%;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: .3125rem;
        padding-right: .3125rem;
        margin: 0px 10px;
        font-size: .875rem;
    }
        .row {
            margin-top: 10px;
            margin-bottom: 15px;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 1.3125rem;
            margin-right: 1.3125rem;
            animation: homect ease 1s;
        }

    .Product-img {
        height: 200px;
    }

    .Nameproduct {
        color: black;
        font-size: smaller;
        overflow-wrap: break-word;
        min-height: 2.5rem;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
    }

    .ease-sharp-motion-curve {
        transition-timing-function: cubic-bezier(.4, 0, .6, 1);
    }

    .duration-100 {
        transition-duration: .1s;
    }

     .contents {
        display: contents;
    }

   .ease-sharp-motion-curve {
        transition-timing-function: cubic-bezier(.4, 0, .6, 1);
    }

     .duration-100 {
        transition-duration: .1s;
    }

    .h-full {
        height: 100%;
    }

    .relative {
        position: relative;
    }

    .shopee_ic .hover\:shadow-hover:hover {
        --tw-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
        --tw-shadow-colored: 0 1px 20px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
    }

    .shopee_ic .hover\:-translate-y-\[1px\]:hover {
        --tw-translate-y: -1px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .shopee_ic {
        transition: transform 0.3s ease; /* Áp dụng hiệu ứng dịch chuyển trong 0.3 giây với hiệu ứng chuyển động êm ái */
      }
      
      .shopee_ic:hover {
        /* Thiết lập hiệu ứng khi hover vào */
        transform: translateY(-3px); /* Dịch chuyển thẻ div lên 1px khi hover vào */
      }
   .hover\:z-\[1\]:hover {
        z-index: 1;
    }

    .flex-col {
        flex-direction: column;
    }

    .cursor-pointer {
        cursor: pointer;
    }
.flex {
        display: flex;
    }

 .p-2 {
        padding: .5rem;
    }

.justify-between {
        justify-content: space-between;
    }

 .flex-1 {
        flex: 1 1 0%;
    }

 .min-h-\[4rem\] {
        min-height: 4rem;
    }

  .mb-1 {
        margin-bottom: .25rem;
    }

  .text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }

     .break-words {
        overflow-wrap: break-word;
    }

  .min-h-\[2\.5rem\] {
        min-height: 2.5rem;
        color: black;
        font-size: larger;
    }

   .line-clamp-2 {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
    }
    .text-base5{
        color: rgb(255, 136, 0);
        font-weight: 500;
        font-size: larger;
    }
    .buyicon{
        justify-content: center;
        color: rgb(12, 141, 38);
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: larger;
    }
    .Sliderproduct{
        margin: 20px auto;
        width: 70%;
    }
    .user-footer{
        display: flex;
        justify-content: center;
    }
    .page-item{
        border: none;
        padding: 10px 5px;
        background-color: transparent;
  background-image: linear-gradient(90deg, #f78411 0%, #f78411 50%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.3s ease; /* Thêm hiệu ứng transition cho background-position */
}
.page-link{
    border: none;
    padding: 10px 15px;
    background-color: transparent;
background-image: linear-gradient(90deg, #f78411 0%, #f78411 50%, transparent 50%, transparent 100%);
background-size: 200% 100%;
background-position: right center;
}

.page-link:hover {
    color: beige;
  background-position: left center; /* Di chuyển gradient từ trái sang phải khi hover */
}

  .active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #f78411;
     border-color: #f78411;
}
}
    
@keyframes homect {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 100;
        transform: translateY(0px);
    }
    
}
// Media query cho thiết bị có độ rộng nhỏ hơn hoặc bằng 768px (tablets và mobile)
@media (max-width: 1200px) {
    .allBackground{
        .product{
            max-width: 49.666%;
            margin-left: auto;
            margin-right: auto;
            font-size: 17px;
         }
         .row{
            margin-left: 10px;
            margin-right: 0px;

         }
         .text-sm {
            line-height: 2.25rem;
        }
        h5 {
            font-size:small;
            margin-top: 10px;
    }
  }
}

  // Media query cho thiết bị có độ rộng nhỏ hơn hoặc bằng 480px (mobile)
  @media (max-width: 700px) {
    .allBackground{
        .product{
            max-width: 49.666%;
            margin-left: auto;
            margin-right: auto;
            font-size: 10px;
         }
         .row{
            margin-left: 10px;
            margin-right: 0px;

         }
         .text-sm {
            line-height: 1.25rem;
        }

    }
    
  }