.allBackground2 {
    background-color: rgb(230, 229, 229);
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    visibility: visible;
    width: auto;

    .container {
        display: flex;
        margin-top: 20px;
        background-color: white;
        --tw-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
        --tw-shadow-colored: 0 1px 20px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
    }

    .Allpicture {
        flex-shrink: 0;
        padding: 15px;
        width: 450px;
    }

    .shopee-image-container {
        padding-bottom: 100%;
        position: relative;
        width: 100%;
    }

    .IMAW1w {
        display: block;
        object-fit: contain;
        object-position: center;
    }

    .IMAW1w {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .airUhU {
        margin: 5px -5px;
        position: relative;
    }

    .UBG7wZ {
        box-sizing: border-box;
        display: inline-block;
        padding: 1px;
        width: 20%;
    }

    .jA1mTx {
        position: relative;
    }

    .wOzCmT {
        left: 0;
        position: absolute;
        top: 0;
    }

    .wOzCmT {
        border: 2px solid var(--brand-primary-color, #ee4d2d);
        bottom: 0;
        right: 0;
    }

    .bh76f7,
    .wOzCmT {
        left: 0;
        position: absolute;
        top: 0;
    }

    .wOzCmT {
        border: 2px solid var(--brand-primary-color, #ee4d2d);
        bottom: 0;
        right: 0;
    }

    .jA1mTx:hover {
        cursor: pointer;
    }

    .wOzCmT {
        display: none;
    }

    .wOzCmT:hover {
        display: block;
    }

    .UBG7wZ {
        border: 3px solid transparent;
        /* Thiết lập viền border mặc định */
        transition: border-color 0.3s;
        /* Hiệu ứng chuyển đổi màu của viền border */
    }

    /* Khi hover vào .UBG7wZ, viền border sẽ chuyển sang màu đỏ */
    .UBG7wZ:hover {
        border-color: red;
    }

    .slide {
        transform: translateX(-110%);
    }

    padding: 0;

    .shopee-icon-button {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, .54);
        padding: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-icon-button {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, .54);
        padding: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-icon-button {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, .54);
        padding: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .CAvqYR,
    .lWmpR1 {
        border: 0 !important;
    }

    .CAvqYR {
        left: 5px;
    }

    .nVAzDy {
        background-color: rgba(0, 0, 0, .2) !important;
        border: 0;
        color: #fff;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
    }

    .shopee-icon-button {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, .54);
        padding: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-icon-button {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, .54);
        padding: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-icon-button {
        border: 1px solid rgba(0, 0, 0, .54);
        background-color: transparent;
        padding: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        outline: none;
        cursor: pointer;
        border: 0;
        font-size: .875rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-icon-button {
        background-color: initial;
        border: 1px solid rgba(0, 0, 0, .54);
        padding: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    button,
    html input[type=button],
    input[type=reset],
    input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    button,
    select {
        text-transform: none;
    }

    button {
        overflow: visible;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .nVAzDy {
        background-color: rgba(0, 0, 0, .2) !important;
        border: 0;
        color: #fff;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        outline: none;
        cursor: pointer;
        border: 0;
        font-size: .875rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    .shopee-button-no-outline,
    .shopee-icon-button,
    .shopee-image-button {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        font-weight: 300;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        outline: none;
        transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    }

    button,
    html input[type=button],
    input[type=reset],
    input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    button,
    select {
        text-transform: none;
    }

    .lWmpR1 {
        right: 5px;
    }

    .CAvqYR,
    .lWmpR1 {
        border: 0 !important;
    }

    .i9t0tr {
        flex: 1 0 auto;
        width: 0;
    }

    .DXQgih {
        box-sizing: border-box;
        padding: 1.25rem 2.1875rem 0 1.25rem;
        width: 100%;
    }

    .flex-auto {
        flex: 1 1 auto;
    }

    .WBVL_7 {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
        max-height: 48px;
        max-width: 665px;
        overflow: hidden;
        overflow-wrap: break-word;
        vertical-align: sub;
    }

    .flex {
        display: flex;
    }

    ;

    .CWiSMQ {
        background: #ebebeb;
        padding: 15px 20px;
        margin-bottom: 15px;
    }

    .QAc7_y {
        flex-basis: 625px;
        flex-wrap: wrap;
        min-height: 2.25rem;
        width: 625px;
    }

    .items-center {
        align-items: center;
    }

    .qg2n76 {
        color: #929292;
        font-size: 1rem;
        margin-right: 10px;
        -webkit-text-decoration: line-through;
        text-decoration: line-through;
    }

    .G27FPf {
        color: #ee4d2d;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .JZVgBK {
        align-self: center;
        grid-row-end: 3;
        grid-row-start: 1;
        margin-left: 20px;
    }

    .KIoPj6 {
        color: #222;
        margin-bottom: 10px;
        margin-left: -4px;
    }

    pre {
        font-family: var(--bs-body-font-family);
        display: block;
        margin-top: 0;
        margin-bottom: 1rem;
        overflow: auto;
        word-break: break-word;
        font-size: .875em;
        white-space: pre-wrap;
    }

    .btn-solid-primary {
        background: #ee4d2d;
        color: #fff;
        outline: 0;
        overflow: visible;
        position: relative;
    }

    .btn--l,
    .btn--xl {
        max-width: 250px;
        min-width: 80px;
    }

    .btn--l {
        font-size: 16px;
        height: 48px;
        padding: 0 20px;
    }

    .btn {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        align-items: center;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        font-size: 15px;
        justify-content: center;
        outline: 0;
        text-transform: capitalize;
        width: 200px;
        margin-left: auto;
    }

    a {
        text-decoration: none;
        color: #ebebeb;
    }

    .btn:hover {
        background-color: #ff7458;
    }

    #pre-text {
        white-space: pre-wrap;

        overflow: hidden;
    }

    #view-more-btn {
        display: none;
        font-weight: 900;
        border: none;
    }

    .more {
        font-weight: 500;
        border: none;
    }

    // Media query cho thiết bị có độ rộng nhỏ hơn hoặc bằng 768px (tablets và mobile)
    @media (max-width: 1200px) {
        .i9t0tr {
            width: auto;
        }

        .flex {
            display: block;
        }

        .container {
            display: block;
            margin-top: 0px;

        }

        .DXQgih {
            box-sizing: border-box;
            padding: 0;
            width: auto;
        }

        .WBVL_7 {
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
            max-width: 100%;
        }

        .Allpicture {
            flex-shrink: 0;
            padding: 0;
            width: auto;
        }
    }

    // Media query cho thiết bị có độ rộng nhỏ hơn hoặc bằng 480px (mobile)
    @media (max-width: 700px) {
        .container {
            display: block;
            margin-top: 0px;

        }

        .DXQgih {
            box-sizing: border-box;
            padding: 0;
            width: auto;
        }

        .WBVL_7 {
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
            max-width: 100%;
        }

        .Allpicture {
            flex-shrink: 0;
            padding: 0;
            width: auto;
        }

        .i9t0tr {
            width: auto;
        }

        .flex {
            display: block;
        }

    }
}