._container_1fuww_1 {
    margin: 0 auto;
    width: 100%;
    min-height: calc(100vh - 318px);
    background-color: #f5f5f5;
    padding-bottom: 50px;
    ._title_1fuww_6 {
        text-align: center;
        margin-bottom: 0.5em;
        color: rgba(0, 0, 0, 0.88);
        font-weight: 600;
        font-size: 38px;
        line-height: 1.2105263157894737;
        padding-top: 50px;
    }
    ._form_1fuww_13 {
        width: 300px;
        margin: 0 auto;
        
    }
    .ant-form-item {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        margin-bottom: 24px;
        vertical-align: top;
    }
    :where(.css-wf7orr)[class^="ant-form"] [class^="ant-form"], :where(.css-wf7orr)[class*=" ant-form"] [class^="ant-form"], :where(.css-wf7orr)[class^="ant-form"] [class*=" ant-form"], :where(.css-wf7orr)[class*=" ant-form"] [class*=" ant-form"] {
        box-sizing: border-box;
    }
    :where(.css-wf7orr).ant-row {
        display: flex;
        flex-flow: row wrap;
        min-width: 0;
    }
    :where(.css-wf7orr).ant-form-item .ant-form-item-control-input {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 32px;
    }
    :where(.css-wf7orr).ant-form-item .ant-form-item-control-input-content {
        flex: auto;
        max-width: 100%;
    }
    .ant-form-item .ant-input, .ant-form-item .ant-input-password, .ant-form-item .ant-btn, .ant-form-item .ant-input-affix-wrapper, .ant-form-item .ant-picker, .ant-form-item .ant-select-selector, button.ant-btn {
        border-radius: 2px;
    }
    :where(.css-wf7orr).ant-input-affix-wrapper {
        position: relative;
        display: inline-flex;
        width: 100%;
        min-width: 0;
        padding: 4px 11px;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        border-radius: 6px;
        transition: all 0.2s;
    }
    :where(.css-wf7orr).ant-form-item .ant-form-item-control {
        --ant-display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    :where(.css-wf7orr)[class^="ant-input"], :where(.css-wf7orr)[class*=" ant-input"] {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        font-size: 14px;
        box-sizing: border-box;
    }
    :where(.css-wf7orr).ant-input-outlined {
        background: #ffffff;
        border-width: 1px;
        border-style: solid;
        border-color: #d9d9d9;
    }
    :where(.css-wf7orr)[class^="ant-input"]::before, :where(.css-wf7orr)[class*=" ant-input"]::before, :where(.css-wf7orr)[class^="ant-input"]::after, :where(.css-wf7orr)[class*=" ant-input"]::after {
        box-sizing: border-box;
    }
    :where(.css-wf7orr).ant-input-affix-wrapper .ant-input-prefix {
        margin-inline-end: 4px;
    }
 
    :where(.css-wf7orr).ant-input-affix-wrapper .ant-input-prefix, :where(.css-wf7orr).ant-input-affix-wrapper .ant-input-suffix {
        display: flex;
        flex: none;
        align-items: center;
    }

    :where(.css-wf7orr)[class^="ant-input"] [class^="ant-input"], :where(.css-wf7orr)[class*=" ant-input"] [class^="ant-input"], :where(.css-wf7orr)[class^="ant-input"] [class*=" ant-input"], :where(.css-wf7orr)[class*=" ant-input"] [class*=" ant-input"] {
        box-sizing: border-box;
    }
    .anticon {
        display: inline-flex;
        align-items: center;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    :where(.css-wf7orr).ant-form-item .ant-form-item-control {
        --ant-display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    :where(.css-wf7orr).ant-input-affix-wrapper >input.ant-input {
        padding: 0;
        font-size: inherit;
        border: none;
        border-radius: 0;
        outline: none;
        background: transparent;
        color: inherit;
    }
    
    .ant-form-item .ant-input, .ant-form-item .ant-input-password, .ant-form-item .ant-btn, .ant-form-item .ant-input-affix-wrapper, .ant-form-item .ant-picker, .ant-form-item .ant-select-selector, button.ant-btn {
        border-radius: 2px;
    }

    :where(.css-wf7orr).ant-input:placeholder-shown {
        text-overflow: ellipsis;
    }
   
    :where(.css-wf7orr)[class^="ant-input"] [class^="ant-input"], :where(.css-wf7orr)[class*=" ant-input"] [class^="ant-input"], :where(.css-wf7orr)[class^="ant-input"] [class*=" ant-input"], :where(.css-wf7orr)[class*=" ant-input"] [class*=" ant-input"] {
        box-sizing: border-box;
    }
    [class^=ant-] {
        font-family: \5fae\8f6f\96c5\9ed1, Lato, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
    }

    :where(.css-wf7orr).ant-input {
        box-sizing: border-box;
        margin: 0;
        padding: 4px 11px;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        position: relative;
        display: inline-block;
        width: 100%;
        min-width: 0;
        border-radius: 6px;
        transition: all 0.2s;
    }
    :where(.css-wf7orr).ant-input-affix-wrapper::before {
        display: inline-block;
        width: 0;
        visibility: hidden;
        content: "\a0";
    }
    ._loginBtn_1fuww_9 {
        width: 100%;
        margin-top: 15px;
    }
    :where(.css-wf7orr).ant-btn-primary {
        color: #fff;
        background: #1677ff;
        box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    }
    :where(.css-wf7orr).ant-btn {
        font-size: 14px;
        line-height: 1.5714285714285714;
        height: 32px;
        padding: 4px 15px;
        border-radius: 6px;
    }
    
}